body {
    font-size: 200%;
}

h1 {
    color: blue;
}

h2 {
    color: maroon;
}

h3 {
    color: indigo;
}

code {
    background-color: ghostwhite;
    padding: 2.25px;
    border: 0.5px solid black;
}

footer {
    font-style: italic;
}
