{% extends "base.html" %}
{% block title %}History{% endblock %}
{% block content %}
  <h1>Calculation History</h1>
  <hr>
  <table id="data" class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Value 1</th>
        <th>Value 2</th>
        <th>Operation</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      {% for key,value in data.iterrows() %}
        <tr>
            <td>{{ value['Value1'] }}</td>
            <td>{{ value['Value2'] }}</td>
            <td>{{ value['Operation'] }}</td>
            <td>{{ value['Result'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null,
          {orderable: false, searchable: false},
                ]
      });
    });
  </script>
<hr>
{% endblock %}